/* Start About Me Section */
.aboutMe {
	background-color:var(--main-background-color);
	display: flex;
	height:100%;
	min-height: 100vh;
	align-items: center;
	padding: 80px 0;
}

.aboutMe img {
	margin: var(--outside-padding) ;
	max-width: 380px;
	max-height: 560px;
	border-radius: 0.5rem;
}

.about_me_content {
	display: inline-block;
	/* margin: 30px var(--outside-padding) 0px; */
	margin-right: var(--outside-padding);
	color: var(--font-color);
	font-size: large;
}
.about_me_content p{
	line-height: 30px;
}
.about_me_content li{
	line-height: 30px;
}

.aboutMe h4 {
	margin: 30px 0px 20px;
	font-size: 35px;
	font-weight: bolder;
}

.about_me_content h2 {
	font-size: xxx-large;
	font-weight: bold;
	margin-bottom: 20px;
}
.aboutMe ul{
	margin-bottom: 10px;
}
.skill_set_list_container{
	display: flex;
	/* justify-content: ; */
}
.skill_set_list_container  ul:last-child{
	margin-left: 300px;
}

@media screen and (max-width: 968px) {
	.aboutMe {
		flex-wrap: wrap;
		justify-content: center;
	}
	.aboutMe img {
		max-width: 50%;
	}
}