:root {
	--main-background-color: #4a4a4a;
	--header-footer-color: #0000007c;
	--font-color: #ffffff;
	--contrast-color: #bfd1e5;
	/* --highlight-color: #ccbc30; */
	--highlight-color: #c9c46f;
	--outside-padding: 5%;
}
* {
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}


