/* Start Contact Information */
.contactMe {
	background-color: var(--main-background-color);
	display: flex;
	min-height: 100vh;
	height: 100%;
	align-items: center;
	justify-content: center;
	padding: 140px 5%;
}

.contactMe h2 {
	color: var(--font-color);
	font-weight: bolder;
	font-size: 50px;
}

.contactMe form {
	background-color: var(--header-footer-color);
	flex-direction: column;
	margin-right: 60px;
	padding: 40px 40px;
	justify-content: space-around;
	display: flex;
	border-radius: 1rem;
	width: 100%;
	height: 575px;
}

.input_group {
	display: flex;
	width: 100%;
	color: var(--font-color);
	margin-top: 20px;
	justify-content: space-between;
}

.label {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.input {
	background: var(--main-background-color);
	border: none;
	color: var(--font-color);
	padding: 10px 10px 5px 5px;
	font-size: 30px;
	border-radius: 0.5rem;
	margin: 3px;
}

.input::placeholder {
	font-size: 30px;
}

textarea {
	background: var(--main-background-color);
	border: none;
	padding: 16px 178px 100px 5px;
	font-size: 30px;
	border-radius: 0.5rem;
}

textarea::placeholder {
	color: var(--font-color);
}

.input_group label {
	font-weight: bold;
	font-size: 30px;
}

.contactMe img {
	max-width: 625px;
	min-width: 575px;
	min-height: 575px;
	border-radius: 0.5rem;
}

.error-text {
	margin-top: 20px;
}

.contactMe button {
	margin-top: 20px;
	background: var(--contrast-color);
	color: black;
	border-radius: 0.5rem;
	font-size: 30px;
	width: 30%;
}

.contactMe button:hover,
.contactMe button:focus {
	background-color: var(--highlight-color);
}

.aTag {
	padding-top: 20px;
	color: var(--font-color);
	font-size: 25px;
}

.aTag a:hover {
	color: var(--highlight-color);
}

@media screen and (max-width: 1388px) {
	.input {
		padding: 10px 90px 2px 2px;
		font-size: 20px;
	}
	.input::placeholder {
		font-size: 20px;
	}
	.input_group label {
		font-size: 20px;
	}
	textarea {
		padding: 16px 100px 60px 5px;
		font-size: 20px;
	}
	.contactMe img {
		border-radius: 0.5rem;
	}
}

@media screen and (max-width: 1350px) {
	.contactMe h2 {
		font-size: 40px;
	}
	.input_group {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	.input {
		padding: 5px 60px 2px 2px;
		font-size: 16px;
	}
	.input::placeholder {
		font-size: 16px;
	}
	.input_group label {
		font-size: 16px;
	}
	textarea {
		padding: 9px 70px 40px 5px;
		font-size: 16px;
	}
	.contact_box {
		order: 2;
	}
	.contactMe img {
		order: 1;
	}
	.contactMe form {
		margin-right: 0;
		width: 80%;
	}
	.contactMe {
		flex-wrap: wrap;
		gap: 60px;
		justify-content: center;
	}
}
@media screen and (min-width: 870px) {
	.contactMe img {
		min-width: 375px;
		min-height: 375px;
	}
}

@media screen and (max-width: 600px) {
	.input {
		margin: 5px;
		padding: 5px 60px 2px 2px;
		font-size: 16px;
	}
	.input::placeholder {
		font-size: 16px;
	}
	.input_group label {
		font-size: 16px;
	}
	textarea {
		padding: 9px 70px 40px 5px;
		font-size: 16px;
	}
	.aTag {
		font-size: 16px;
	}
}

@media screen and (max-width: 550px) {
	.contactMe {
		gap: 40px;
	}
	.contactMe h2 {
		font-size: 30px;
		margin-bottom: 10px;
	}
	.contactMe img {
		width: 75%;
	}
	.input {
		margin: 5px;
		padding: 5px 20px 2px 2px;
		font-size: 16px;
	}
	.input::placeholder {
		font-size: 16px;
	}
	.input_group label {
		font-size: 16px;
	}
	textarea {
		padding: 9px 20px 20px 5px;
		font-size: 16px;
	}
	.contactMe button {
		font-size: 20px;
		width: 30%;
	}
}
@media screen and (max-width: 490px) {
	.label {
		display: flex;
		flex-direction: column;
	}
	.contactMe img {
		width: 80%;
		min-width: 0;
		min-height: 0;
	}
}
