.hero_section {
	display: flex;
	margin-right: 20px;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	text-align: right;
	overflow: none;
	height:100vh;
	background: url('../assets/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover; 
	-moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	position: relative;
}
 
.hero_content {
	position: absolute;
	display: flex;
	margin-right: 20px;
	flex-direction: column;
	width: 95%;
	justify-content: center;
	text-align: right;
	z-index: 2;
}

.hero_content h1 {
	color: var(--font-color);
	font-weight: bolder;
	font-size: 70px;
}
.hero_content h2 {
	color: var(--font-color);
	font-weight: bolder;
	align-self: right;
	font-size: 50px;
	padding-left: 60%;
	margin: 35px 0px;
}

.hero_content button {
	align-self: right;
	padding: 10px;
	font-size: 30px;
	border-radius: 0.5em;
	background-color: var(--contrast-color);
	font-weight: bolder;
}

.hero_content button:hover,
.hero_content button:focus {
	box-shadow: 3px 3px 10px 2px var(--highlight-color);
	transform: translateY(-0.25em);
}

@media screen and (max-width: 1234px) {
	.hero_content {
		height: 70%;
	}
	.hero_content h1 {
		font-size: 45px;
	}
	.hero_content h2 {
		font-size: 35px;
	}
}

@media screen and (max-width: 968px) {
	.hero_content {
		height: 50%;
	}
	.hero_content h1 {
		font-size: 30px;
	}
	.hero_content h2 {
		font-size: 20px;
	}
}

@media screen and (max-width: 744px) {
	.hero_content {
		height: 30%;
	}
	.hero_content h1 {
		font-size: 30px;
	}
	.hero_content h2 {
		font-size: 20px;
	}
	.hero_content button {
		align-self: right;
		padding: 10px;
		font-size: 20px;
		border-radius: 0.5em;
		font-weight: bolder;
	}
}

@media screen and (max-width: 504px) {
	.hero_content h1 {
		font-size: 25px;
	}
	.hero_content h2 {
		font-size: 16px;
	}
	.hero_content button {
		padding: 8px;
		font-size: 12px;
	}
}

@media screen and (max-width: 390px) {
	.hero_content h2 {
		margin: 10px 0px;
	}
}
