/* .hero_section {
	display: flex;
	margin-right: 20px;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	text-align: right;
	overflow: none;
	height:100vh;
	background: url('../assets/mainBackground.jpg') no-repeat center center fixed;
	-webkit-background-size: cover; 
	-moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	position: relative;

} */

.hero_section {
	display: flex;
	margin-right: 20px;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	text-align: right;
	overflow: none;
	min-height: 100vh;
}
.hero_img {
	position: relative;
	z-index: 0;
	max-width: 100%;
	height: 100vh;
}
.mobile_hero_img {
	display: none;
}
.hero_content {
	position: absolute;
	display: flex;
	/* margin-right: 20px; */
	padding-right: 5%;
	flex-direction: column;
	width: 50%;
	justify-content: center;
	text-align: right;
	z-index: 2;
	left: 50%;
	border-radius: 20px;
}

.hero_content h1 {
	color: var(--font-color);
	font-weight: bolder;
	font-size: 70px;
}
.hero_content h2 {
	color: var(--font-color);
	font-weight: bolder;
	align-self: right;
	font-size: 50px;
	/* font-size: 70px; */
	padding-left: 60%;
	margin: 35px 0px;
}

.hero_content button {
	align-self: right;
	padding: 10px;
	font-size: 30px;
	border-radius: 0.5em;
	background-color: #0000007c;
	font-weight: bolder;
}

.hero_content button:hover,
.hero_content button:focus {
	box-shadow: 3px 3px 10px 2px var(--highlight-color);
	transform: translateY(-0.25em);
}

@media screen and (max-width: 1234px) {
	.hero_content {
		height: 70%;
	}
	.hero_content h1 {
		font-size: 45px;
	}
	.hero_content h2 {
		font-size: 35px;
	}
}

@media screen and (max-width: 968px) {
	.hero_content {
		height: 50%;
	}
	.hero_content h1 {
		font-size: 30px;
	}
	.hero_content h2 {
		font-size: 20px;
	}
}

@media screen and (max-width: 744px) {
	.hero_content {
		height: 30%;
		background-color: var(--header-footer-color);
	}
	.hero_content h1 {
		font-size: 30px;
	}
	.hero_content h2 {
		font-size: 20px;
	}
	.hero_content button {
		align-self: right;
		padding: 10px;
		font-size: 20px;
		border-radius: 0.5em;
		font-weight: bolder;
	}
	.hero_img {
		display: none;
	}
	.mobile_hero_img {
		display: block;
		position: relative;
		z-index: 0;
		max-width: 100%;
		height: 100vh;
	}
}

@media screen and (max-width: 504px) {
	/* .hero_content h1 {
		font-size: 25px;
	} */
	.hero_content h2 {
		font-size: 16px;
		padding: 12px;
	}
	.hero_content button {
		padding: 12px;
		font-size: 12px;
	}
}

@media screen and (max-width: 390px) {
	.hero_content h2 {
		margin: 10px 0px;
	}
}
