/* Start Portfolio Section */
.portfolio {
	background: var(--main-background-color);
	padding: var(--outside-padding);
	color: aliceblue;
}
.portfolio img {
opacity: .7;
}
.portfolio img:hover {
opacity: 1;
}

.main_project {
	display: flex;
	width: 100%;
	justify-content: center;
}
.portfolio h2 {
	margin-bottom: var(--outside-padding);
	font-weight: bolder;
	font-size: xxx-large;
}

/* Main Project */
.project_1 img {
	display: block;
	position: relative;
	width: 100%;
	z-index: 1;
	border-radius: 0.5rem;
}

.project_1 div {
	position: absolute;
	z-index: 2;
	background-color: var(--header-footer-color);
	margin-top: -150px;
	padding: 30px;
	border-radius: 0px 0.5rem 0px 0.5rem;
}
.project_1 h3 {
	font-size: 50px;
}
.project_1 p {
	margin-top: 10px;
	font-size: 30px;
}
/* end of main project */

/* smaller projects */
.project_group_portfolio {
	display: flex;
	margin-top: 5%;
	flex-wrap: wrap;
	gap: 80px;
}

.projects {
	width: 47%;
}

.projects img {
	width: 100%;
	border-radius: 0.5rem;
}

.projects div {
	position: absolute;
	z-index: 2;
	background-color: var(--header-footer-color);
	margin-top: -116px;
	padding: 30px;
	border-radius: 0px 0.5rem 0px 0.5rem;
}

.projects h3 {
	font-size: 25px;
}
.projects p {
	margin-top: 10px;
	font-size: 20px;
}
/* End Portfolio Section */
