/* Start Portfolio Section */
.portfolio {
	background: var(--main-background-color);
	padding: var(--outside-padding);
	color: #f0f8ff;
}

.portfolio img {
opacity: 1;
}

.portfolio img:hover {
opacity: .5;
}

.portfolio h2 {
	margin-bottom: var(--outside-padding);
	font-weight: bolder;
	font-size: xxx-large;
}

.project_group_portfolio {
	display: flex;
	flex-wrap: wrap;
	gap: 80px;
}

.projects {
	width: 47%;
}

.projects img {
	width: 100%;
	border-radius: 0.5rem;
}

.projects div {
	position: absolute;
	z-index: 2;
	background-color: var(--header-footer-color);
	margin-top: -120px;
	padding: 30px;
	border-radius: 0px 0.5rem 0px 0.5rem;
}

.projects h3 {
	font-size: 25px;
}
.projects p {
	margin-top: 10px;
	font-size: 20px;
}

@media screen and (max-width: 1466px) {
	.project_group_portfolio {
		justify-content: center;
	}
}

@media screen and (max-width: 968px) {
	.projects div {
		margin-top: -10%;
		padding: 10px;
	}

	.projects h3 {
		font-size: 16px;
	}
	.projects p {
		margin-top: 10px;
		font-size: 12px;
	}
}

@media screen and (max-width: 744px) {
	.projects div {
		margin-top: -15%;
	}
}

@media screen and (max-width: 504px) {
	.projects div {
		margin-top: -10%;
		padding: 5px;
	}

	.projects h3 {
		font-size: 12px;
	}
	.projects p {
		margin-top: 6px;
		font-size: 8px;
	}
}