.resume_container {
	background-color: var(--main-background-color);
	min-height: 100vh;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-evenly;
	gap:30px;
	padding: 80px 0;
}

.skill_set {
	background-color: var(--header-footer-color);
	margin: 40px 5% 0;
	border-radius: 1rem;
	padding: 10px 0;
	color: var(--font-color);
}

.skill_set h3 {
	font-size: 30px;
	padding: 20px 40px 0px;
}

.skill_list {
	display: flex;
	justify-content: space-between;
	padding: 20px 40px 0;
}
.skill_li {
	margin-bottom: 20px;
	font-size: 25px;
}

.skill_list ul:last-child{
	margin-bottom: 0px;
}

.technologies_container {
	/* background-color: var(--main-background-color); */
	background-color: var(--header-footer-color);
	margin: 0px 5%;
	border-radius: 1rem;
	padding: 10px 0;
	color: var(--font-color);
}
.technologies_container h3 {
	font-size: 30px;
	padding: 20px 40px 20px;
}

.technologies {
	font-size: xx-large;
	font-weight: 500;
}
.technologies_li {
	margin-left: 40px;
    padding-bottom: 20px;
    font-size: 25px;
}

.download_Link {
	background-color: var(--header-footer-color);
	margin: 0px 5% 0px;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	/* color: var(--font-color); */
}

.download_aTag {
	color: var(--font-color);
	font-size: 40px;
	font-weight: bold;
	margin: 20px;
	transition: text-shadow 1s;
}

.download_aTag:hover {
	text-shadow: 1px 1px 1px var(--highlight-color), 0 0 0.1em #ff9d00, 0 0 0.5em var(--highlight-color);
	color: var(--main-background-color);
	color: var(--highlight-color);
}

@media screen and (max-width: 900px) {
	.skill_list {
		flex-wrap: wrap;
		justify-content: left;
    }
}
